.chart-wrapper{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: lightgray;
}

.chart-container{
  padding: 10px;
}

.table-container{
  padding: 10px;
  border: 1px solid lightgray;
}